<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      username: <input type="text" name="username" /> 
      <br>
      age: <input type="text" name="age" />
      <br>
      <input type="file" name="img" />
      <button class="btn" type="submit">提交</button>
    </form>
  </body>
</html>
